.navbar {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.navbar__container {
  z-index: 5;

  // border: 2px solid green;
  margin: 0.5rem 0;
  padding: 0.5rem 20px;
  position: fixed;
  top: 0;
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0;
  }

  .navbar__links {
    display: none;
    // border: 2px solid brown;

    @media screen and (min-width: 1200px) {
      display: flex;
      padding-right: 2rem;
      ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;

        a {
          color: var(--secondary-color);
          text-transform: uppercase;
          font-size: 0.9rem;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            border-bottom: 2px solid var(--accent-color);
          }
        }
      }
    }
  }
}

.navbar__logo {
  // border: 2px solid yellow;
  @media screen and (min-width: 620px) {
    font-size: 1.8rem;
  }

  @media screen and (min-width: 960px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2rem;
    padding-left: 2rem;
  }
}
